table {
  text-align:center;
  align: center;
  valign: center;
}
h1{
    display: inline;
    float: left;
}
table td{
    vertical-align:middle ;
}
.form-group input{
    /* text-align:center; */
    align: center;
    valign: center;
}
/* #note_box{
  	width: auto;
  	height:200px;
  	border:1px solid #bfd1eb ;
  	border-radius: 10pt ;

}
#note_box:hover{
    background: #f3faff;
}
#note_box span{
    vertical-align:bottom;
    color:#43a5f5;
} */
#btn-edit,#btn-del{
    /* float: left; */
    margin:10px;
}
#panel{
    border: 1px solid;
    border-color:rgb(158, 210, 236);
}
#panel-top{
    background-color: rgb(158, 210, 236) ;
    padding: 10px 15px;
}
#panel-foot{
    padding: 15px;
}
